 body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

main {
    padding: 10px;
    margin: 10px 0;
    border-top: 5px solid;
    border-bottom: 5px solid;
}

#error-message {
    font-weight: bold;
    color: #C30;
}

h2 {
    margin: 0 0 10px;
}

img {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
}

img:hover {
    max-width: auto;
    max-height: auto;
    min-width: 500px;
    min-height: 500px;
}
